body {
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, rgb(230, 219, 255) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(230, 219, 255) 1px, transparent 1px);
        font-family: 'DM Sans', sans-serif;
}

.navbar-brand {
    font-size: 2em;
}

.navbar-brand img{
    width: 36px;
    padding-bottom: 7px;
    height: auto;
}

.options .btn{
    background-color: black;
    color: white;
}

.btn {
    border-radius: 0;
    font-weight: 600;
}

[class*='add-']{
    transition: all 0.3s ease-in-out;
    color: white;
}

[class*='add-']:hover{
    flex-grow: 2;
    opacity: 0.8;
    color: black;
}

.add-d4 {
    background-color: rgb(1, 190, 254);
}

.add-d6 {
    background-color: rgb(255, 221, 0);
}

.add-d8 {
    background-color: rgb(255, 125, 0);
}

.add-d10 {
    background-color: rgb(255, 0, 109);
}

.add-d12 {
    background-color: rgb(173, 255, 2);
}

.add-d20 {
    background-color: rgb(143, 0, 255);
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
}

.die-container {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.die {
    background: no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.d4 {
    background-image: url(img/d4.svg);
    width: 50%;
    height: 50%;
}

.d6 {
    background-image: url(img/d6.svg);
    width: 50%;
    height: 50%;
}

.d8 {
    background-image: url(img/d8.svg);
    width: 50%;
    height: 50%;
}

.d10 {
    background-image: url(img/d10.svg);
    width: 50%;
    height: 50%;
}

.d12 {
    background-image: url(img/d12.svg);
    width: 50%;
    height: 50%;
}

.d20 {
    background-image: url(img/d20.svg);
    width: 80%;
    height: 80%;
}

.die-animation {
    animation: tilt-shaking 140ms;
}

.result {
    user-select: none;
    color:white;
    font-size: 60px;
}

.result-animation {
    animation: fade-in 700ms;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}