body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
    display: flex;
    align-items: center;
    flex-flow: column;
}

h1 {
    font-size: 3cqw;
}

.dice-container{
    display: flex;
    width: 40vw;
    flex-wrap: wrap;
}

.die {
    width: 6vw;
    height: 6vw;
    margin: 1vw;
    background-color: #ff0379;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.die-animation { animation: tilt-shaking 140ms; }

.result {
    user-select: none;
    color: white;
    font-size: 4cqw;
}
.result-animation { animation: fade-in 700ms; }

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

